p{
    color:red;
}

#para1 {
    color: green;
  }

  .colortext {
    color: blue;
}

body
{
  background-color: linen;
}

h1{
  background-color: lightblue;
}

.div.test
{
  background-color: orange;
}
