html{
    font-family: sans-serif;
}

body{
    width: 70%; /*70% da largura */
    /* largura maxima  */
    max-width: 960px; 
    /* margem de 20 px e automatico  */
    margin: 20px auto ;
}

button{
    /* tamanho da fonte */
    font-size: 18px;
    /* altua da linha ( tamanho do bloco em altura) */
    line-height: 1.5;
    /* largura em % */
    width: 15%;
}



/* Primeira parte */

div{
    height: 100px;
    border: 1px solid rgb(56, 54, 54);
    /* Display flex faz com que o elemento se justifique dentro do pai */
    display: flex;
    /* Justifica como vai ficar organizado dentro do pai (começa da direita, do fim, do centro e etc */
    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */

}

div{
    /* Alinha itens  */
    /* Flexibiliza por onde os elementos pondem ir dentro do pai */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
}

#esse{
    order: 2;
}