.wrapper1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.wrapper1 div {
    background-color: lightblue;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
}

.wrapper2 div {
    background-color: lightgreen;
}

.wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper3 div {
    background-color: lightgrey;
}
