.header {
    grid-area: hd;
    background-color: deepskyblue;
}

.footer {
    grid-area: ft;
    background-color: coral;
}

.content {
    grid-area: main;
    background-color: yellow;
}

.sidebar {
    grid-area: sd;
    background-color: firebrick;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
        "hd hd hd hd   hd   hd   hd   hd   hd"
        "sd sd sd main main main main main main"
        "ft ft ft ft   ft   ft   ft   ft   ft";
}
