.container {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: deepskyblue;
}

.elemento-centralizado {
    margin: auto;
    background-color: white;
}

p {
    width: 170px;
    height: 2rem;
    padding: 10px;
    margin: 0;
    text-align: center;
    line-height: 2;
}