/*
p {
    padding: 1em 1em 1em 1em;
    width: 400px;
    height: 2.5em;
    border: 1px solid black;
}
*/

/*
.autoscroll {
    overflow: auto;
}
*/

/*
.clipped {
    overflow: hidden;
}
*/

/*
.default {
    overflow: visible;
}
*/
